@import "shared/styles/index.scss";

.wrapper {
  @extend .globalWrapper;
  position: relative;

  &::after {
    content: "";
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
}

.result {
  padding: 20px;
}

.header {
  padding: 20px;
}

.table {
  margin: 30px 0 60px;
  padding: 10px;
  border-top: 2px solid $light-gray;
  border-bottom: 2px solid $light-gray;

  &Header {
    padding: 10px;
  }

  &Result {
    padding: 5px
  }
}