@import "shared/styles/index.scss";

.wrapper {
  @extend .globalWrapper;
}

.buttons {
  min-height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.manual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &Content {
    max-width: 75%;
    margin-bottom: 1em;
  }
}
