@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow:700&display=swap");
@import "shared/styles/index.scss";

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  overflow-y: scroll;
  text-align: center;
  background: linear-gradient(to bottom, $white, $gradient-end);
  border: 1px solid $black;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 425px;
  max-height: 668px;

  @include sm {
    border:none;
    border-radius: 0;
    max-width: 100%;
    max-height: 100%;
  }
}
