@import 'shared/styles/index.scss';

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  width: 90%;
  margin: auto 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  border: $light-gray solid 1px;
  margin-top: 30px;
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: $shadow;
}

.notReady {
  & > * {
    margin-bottom: 20px;
  }
}