@import "shared/styles/index.scss";

.wrapper {
  @extend .globalWrapper;
}

.header {
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 4;
}
