$black-text: #313131;
$green: #a6c2a6;
$black: #2d2d2d;
$red: #ff9d73;
$white: #ffffff;
$gradient-end: #edede8;
$purple: #424874;
$light-purple: #A6B1E1;
$light-gray: lighten($black, 70%);


$shadow: 3px 3px 5px rgba(0,0,0,0.3);