@import "shared/styles/index.scss";

.wrapper {
  @extend .globalWrapper;
}


.scoreboard {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header {
  padding: 15px;
}

.progressBar {
  box-shadow: $shadow;
  margin: 0 auto;
  width: 90%;
  height: 1.5em;
  position: relative;
  background-color: $gradient-end;

  &Meter {
    left: 0;
    height: 100%;
    position: absolute;
    line-height: inherit;
    background-color: $light-purple;
    width: 25%;
  }
}

.character {
  margin: 10px auto;
  width: 80%;

  &Help {
    margin-bottom: 10px;
  }
  
  &Text {
    box-shadow: $shadow;
    background: $white;
    padding: 50px 0;
  }
}

.controls {
  display: flex;
  justify-content: space-around;  
  &Button {
    box-shadow: $shadow;
    padding: 15px 30px;
    font-size: 60px;

    &--yes {
      background-color: $green;
    }

    &--no {
      background-color: $red;
    }
  }

  &Thumb {
    &--yes {
      position: relative;
      top: -5px;
    }

    &--no {
      position: relative;
      top: 5px;
    }
  }
}
